$board-size: 640px;

#game {
	background-color: gray;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	#main {
		width: max-content;
		height: max-content;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	.side {
		height: 100%;
		width: max-content;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-content: center;
		// align-items: center;
	}

	.side > img {
		width: 64px;
		height: 64px;
	}

	#header {
		width: 100%;
		background-color: rgb(30, 30, 30);
		height: max-content;
		font-size: 35px;
		display: flex;
		justify-content: center;
		align-items: center;
		color: white;
		padding: 10px 0px 10px 0px;
		box-sizing: border-box;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		position: relative;

		.exit-btn {
			position: absolute;
			width: 40px;
			height: 40px;
			margin-top: -20px;
			margin-right: 10px;
			top: 50%;
			right: 0;
		}
	}
	#footer {
		width: 100%;
		background-color: rgb(30, 30, 30);
		height: max-content;
		font-size: 35px;
		display: flex;
		justify-content: center;
		align-items: center;
		color: white;
		padding: 10px 0px 10px 0px;
		box-sizing: border-box;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}

	#outer-board {
		position: relative;
		width: $board-size;
		height: $board-size;
		// width: 640px;
		// height: 640px;
	}

	#board {
		position: absolute;
		display: grid;
		grid-template-columns: repeat(8, max-content);
		// width: 32px;
		// height: 32px;
		// background-color: red;
		width: $board-size;
		height: $board-size;

		user-select: none;
		user-drag: none;

		z-index: 1;

		// padding: 5px;
		// box-sizing: border-box;
		// border-radius: 10px;
	}

	#overlay {
		// width: 32px;
		// height: 32px;
		width: $board-size;
		height: $board-size;
		background-color: rgba(0, 0, 0, 0.5);
		position: absolute;
		display: none;
		justify-content: center;
		align-items: center;
		color: white;
		font-size: 30px;
		z-index: 2;
	}

	#move-overlay {
		// width: 32px;
		// height: 32px;
		width: $board-size;
		height: $board-size;
		// background-color: rgba(0, 0, 0, 0.5);
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		pointer-events: none;
	}

	#move-overlay > .move-transition {
		transition-timing-function: linear;
		position: absolute;
		width: $board-size / 8;
		height: $board-size / 8;
	}
	#move-overlay > .move-transition > img {
		width: $board-size / 8;
		height: $board-size / 8;
	}

	#background {
		// background-color: coral;
		width: $board-size;
		height: $board-size;
		display: grid;
		grid-template-columns: repeat(8, max-content);
		position: absolute;
	}

	// #board > .square:first-child {
	// 	border-top-left-radius: 5px;
	// }
	// #board > .square:nth-child(8) {
	// 	border-top-right-radius: 5px;
	// }

	#center {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-left: 400px;
	}

	.control {
		width: 400px;
		height: max-content;
		display: flex;
		flex-direction: column;
		color: white;
		justify-content: center;
		align-items: flex-start;
		font-size: 30px;
		border-radius: 5px;
		margin-left: 20px;

		.piece-log {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			flex-wrap: wrap;
			width: 100%;
			padding: 0px 10px 0px 10px;
		}

		// .piece-log.top {
		// 	padding-bottom: 5px;
		// }
		// .piece-log.bottom {
		// 	padding-top: 5px;
		// }

		.piece-log > img {
			width: 48px;
			height: 48px;
		}

		.inner {
			margin: 10px 0px 10px 0px;
			width: 100%;
			height: max-content;
			display: flex;
			flex-direction: column;
			background-color: rgb(45, 45, 45);
			padding: 15px 10px 15px 10px;
			color: white;
			justify-content: center;
			align-items: flex-start;
			font-size: 30px;
			border-radius: 5px;
		}

		.inner > .name {
			margin-left: 15px;
		}

		.inner > .MuiDivider-root {
			margin: 10px 0px 10px 0px;
		}
	}

	.piece {
		position: absolute;
		width: $board-size / 8;
		height: $board-size / 8;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.piece > .piece-icon {
		width: $board-size / 8;
		height: $board-size / 8;
		pointer-events: none;
	}

	.square {
		width: $board-size / 8;
		height: $board-size / 8;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
	}

	.square > .capture-icon {
		opacity: 0.5;
		width: $board-size / 8;
		height: $board-size / 8;
		pointer-events: none;
	}

	.square > .highlight-icon {
		width: $board-size / 8;
		height: $board-size / 8;
		position: absolute;
		z-index: 1;
		pointer-events: none;
	}

	.square > .row {
		position: absolute;
		top: 0;
		right: 0;
		margin-right: 3px;
		margin-top: 3px;
	}

	.square > .rank {
		position: absolute;
		bottom: 0;
		left: 0;
		margin-left: 3px;
		margin-bottom: 2px;
	}

	.square > .indicator {
		font-weight: bold;
		font-size: 16px;
	}

	.square.dark {
		background-color: #d18b47;
	}

	.square.light {
		background-color: #ffce9e;
	}

	.square.dark > .indicator {
		color: #ffce9e;
	}
	.square.light > .indicator {
		color: #d18b47;
	}

	.square.selected.dark {
		background-color: #dac431;
	}
	.square.selected.light {
		background-color: #f8ec5a;
	}

	.promotion-column {
		width: $board-size / 8;
		height: $board-size / 2;
		position: absolute;
		top: 0;
	}

	.promotion-column > div {
		border-radius: 50%;
		background-color: #b0b0b0;
		box-shadow: inset 0 0 25px 3px gray;
		width: $board-size / 8;
		height: $board-size / 8;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.promotion-column > div:hover {
		box-shadow: inset 0 0 48px 8px #d64f00;
		border-radius: 0%;
	}
	.promotion-column > div:hover > img {
		width: $board-size / 8;
		height: $board-size / 8;
	}

	.promotion-column > div > img {
		width: $board-size * 3 / 32;
		height: $board-size * 3 / 32;
	}

	@media only screen and (max-width: 700px) {
		$board-size: 91.42vw;

		#header {
			font-size: 5vw;
			.exit-btn {
				position: absolute;
				width: 5.71vw;
				height: 5.71vw;
				margin-top: -2.85vw;
				margin-right: 1.42vw;
				top: 50%;
				right: 0;
			}

			.exit-btn > .MuiSvgIcon-root {
				width: 3.42vw;
				height: 3.42vw;
			}
		}
		#footer {
			font-size: 5vw;
		}

		#background {
			width: $board-size;
			height: $board-size;
		}
		#outer-board {
			width: $board-size;
			height: $board-size;
		}

		#board {
			width: $board-size;
			height: $board-size;
		}

		#overlay {
			width: $board-size;
			height: $board-size;
		}

		#move-overlay {
			width: $board-size;
			height: $board-size;
		}

		#move-overlay > .move-transition {
			width: $board-size / 8;
			height: $board-size / 8;
		}
		#move-overlay > .move-transition > img {
			width: $board-size / 8;
			height: $board-size / 8;
		}

		.square > .indicator {
			font-size: 2.28vw;
		}

		.piece {
			width: $board-size / 8;
			height: $board-size / 8;
		}

		.piece > .piece-icon {
			width: $board-size / 8;
			height: $board-size / 8;
		}

		.square {
			width: $board-size / 8;
			height: $board-size / 8;
		}

		.square > .capture-icon {
			width: $board-size / 8;
			height: $board-size / 8;
		}

		.square > .highlight-icon {
			width: $board-size / 8;
			height: $board-size / 8;
		}

		.promotion-column {
			width: $board-size / 8;
			height: $board-size / 2;
		}

		.promotion-column > div {
			width: $board-size / 8;
			height: $board-size / 8;
		}

		.promotion-column > div:hover > img {
			width: $board-size / 8;
			height: $board-size / 8;
		}

		.promotion-column > div > img {
			width: $board-size * 3 / 32;
			height: $board-size * 3 / 32;
		}
	}
}
