#multi {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;

	#rooms {
		padding: 10px 0px 0px 10px;
		display: grid;

		grid-template-columns: repeat(3, max-content);
		column-gap: 10px;

		.room {
			background-color: rgb(42, 42, 42);
			width: 350px;
			height: max-content;
			border-radius: 5px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			.top {
				margin: 10px 10px 10px 10px;
				font-size: 20px;
				color: white;
				display: flex;
				justify-content: space-between;
				align-items: center;
				flex-direction: row;
				height: 100%;
			}

			.top > img {
				width: 64px;
				height: 64px;
			}

			.join-btn:not(.Mui-disabled) {
				background-color: #266308;
			}

			.join-btn.Mui-disabled {
				background-color: gray;
			}

			.join-btn {
				width: 100%;
				border-radius: 0px;
				font-size: 16px;
				height: 24px;
				border-bottom-left-radius: 5px;
				border-bottom-right-radius: 5px;
			}
		}
	}

	#sidebar {
		background-color: #2b2b2b;
		width: 400px;
		height: 100%;

		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;

		#colors {
			width: 90%;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin-bottom: 10px;
		}

		#colors > .MuiButton-root {
			background-color: silver !important;
			color: white;
		}

		#colors > .MuiButton-root.selected {
			background-color: lightblue !important;
			color: black;
		}

		#colors > .MuiButton-root:last-child {
			margin-left: 10px;
		}

		#created {
			width: 90%;
			background-color: white;
			height: max-content;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			border-radius: 4px;
			margin-top: 10px;
			padding: 5px 7px 5px 7px;
			box-sizing: border-box;

			#code {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				width: max-content;
				height: max-content;
			}
		}
	}

	.MuiTextField-root {
		width: 90%;
	}

	.MuiButton-root {
		width: 90%;
		font-size: 20px;
		color: white;
		text-transform: none;
	}

	.MuiTextField-root > .MuiInputBase-root {
		background-color: white;
	}

	.MuiTextField-root > .MuiInputLabel-root {
		color: red;
	}

	.MuiDivider-root {
		width: 100%;
		background-color: white;
		margin: 20px 0px 20px 0px;
	}

	.MuiInput-root {
		background-color: white;
		width: 90%;
		border-radius: 4px;
		padding: 3px 5px 3px 5px;
	}

	.error {
		width: 90%;
		text-align: left;
		color: red;
		margin-top: 5px;
	}
}
