$board-size: 96px;

#multi {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;

	.preview-board {
		display: flex;
		flex-direction: column;
		background-color: red;
		width: $board-size;
		height: $board-size;
	}

	.preview-board > .row {
		display: flex;
		flex-direction: row;
		.square {
			display: flex;
			flex-direction: row;
			width: $board-size / 8;
			height: $board-size / 8;
		}

		.square.dark {
			background-color: #d18b47;
		}

		.square.light {
			background-color: #ffce9e;
		}
	}

	#rooms {
		overflow-y: auto;
		// overflow-x: hidden;
		// width: 100%;
		flex-grow: 1;
		padding: 10px 0px 0px 10px;
		display: grid;

		grid-template-rows: repeat(4, max-content);
		grid-template-columns: repeat(4, max-content);

		column-gap: 10px;
		row-gap: 10px;

		.room {
			background-color: rgb(42, 42, 42);
			width: 350px;
			height: max-content;
			border-radius: 5px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			// align-items: flex-end;

			.top {
				margin: 10px 10px 10px 10px;
				font-size: 20px;
				color: white;
				display: flex;
				justify-content: space-between;
				align-items: center;
				flex-direction: row;
				height: 100%;
			}

			.top > img {
				width: 64px;
				height: 64px;
			}

			.top > .inner {
				display: flex;
				justify-content: space-between;
				align-items: center;
				width: 100%;
				padding-right: 10px;
				height: 100%;
				box-sizing: border-box;
			}

			.top > .inner > .players {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: flex-start;
			}
			.top > .inner > .players > .player {
				display: flex;
				flex-direction: row;
				align-items: flex-start;
				position: relative;
				font-size: 20px;
			}
			.top > .inner > .players > .player > .color {
				position: absolute;
				display: flex;
				flex-direction: row;
				font-size: 12px;
				font-family: Arial;

				margin-left: 2px;
				color: lightgray;
				top: 0;
			}

			.join-btn:not(.Mui-disabled) {
				background-color: #266308;
			}

			.join-btn.Mui-disabled {
				background-color: gray;
			}

			.join-btn {
				width: 100%;
				border-radius: 0px;
				font-size: 16px;
				height: 24px;
				border-bottom-left-radius: 5px;
				border-bottom-right-radius: 5px;
			}
		}
	}

	#sidebar {
		background-color: #2b2b2b;
		width: 400px;
		height: 100%;

		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		box-sizing: border-box;

		.options {
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			box-sizing: border-box;
			margin-top: 10px;
		}

		.options > .MuiButton-root {
			background-color: silver !important;
			color: white;
		}

		.options > .MuiButton-root.selected {
			background-color: lightblue !important;
			color: black;
		}

		.options > .MuiButton-root:not(:first-child) {
			margin-left: 10px;
		}

		#created {
			width: 100%;
			background-color: white;
			height: max-content;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			border-radius: 4px;
			margin-top: 10px;
			padding: 5px 7px 5px 7px;
			box-sizing: border-box;

			#code {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				width: max-content;
				height: max-content;
			}
		}

		.btn-group {
			width: 100%;
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
			box-sizing: border-box;
			padding: 0px 10px 0px 10px;
		}

		.btn-group-join > div:last-child {
			margin-top: 10px;
		}

		// .btn-group-create > :not(:last-child) {
		// 	margin-bottom: 10px;
		// }

		.btn-group-create > .option-group {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			box-sizing: border-box;
		}
	}

	@media only screen and (max-width: 1790px) {
		#rooms {
			grid-template-columns: repeat(3, max-content);
		}
	}

	@media only screen and (max-width: 1509px) {
		#rooms {
			grid-template-columns: repeat(2, max-content);
		}
	}

	@media only screen and (max-width: 1150px) {
		#rooms {
			grid-template-columns: repeat(1, max-content);
		}
	}

	.MuiTextField-root {
		width: 90%;
	}

	.MuiButton-root {
		width: 100%;
		font-size: 20px;
		color: white;
		text-transform: none;
	}

	.MuiTextField-root > .MuiInputBase-root {
		background-color: white;
	}

	.MuiTextField-root > .MuiInputLabel-root {
		color: red;
	}

	.MuiDivider-root {
		width: 100%;
		background-color: white;
		margin: 20px 0px 20px 0px;
	}

	.out-container {
		width: 100%;
		padding: 0px 10px 0px 10px;
		box-sizing: border-box;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.MuiInput-root {
		background-color: white;
		width: 100%;
		border-radius: 4px;
		padding: 3px 5px 3px 5px;
	}

	.error {
		width: 90%;
		text-align: left;
		color: red;
		margin-top: 5px;
	}
}

@media only screen and (max-width: 800px) {
	#multi {
		flex-direction: column-reverse;

		#rooms {
			overflow-y: auto;
			// overflow-x: hidden;
			// width: 100%;
			// flex-grow: 1;
			// padding: 10px 0px 0px 10px;
			display: flex;
			flex-direction: column;
			padding: 10px 10px 0px 10px;
			box-sizing: border-box;

			align-items: center;
			justify-content: flex-start;

			row-gap: 0px;
			column-gap: 0px;

			// grid-template-rows: repeat(4, max-content);
			// grid-template-columns: repeat(4, max-content);

			// column-gap: 10px;
			// row-gap: 10px;
			.room {
				margin-bottom: 10px;
			}
		}

		#sidebar {
			width: 100%;
			height: max-content;
			padding-bottom: 10px;

			// background-color: #2b2b2b;
			// width: 400px;
			// height: 100%;

			// display: flex;
			// flex-direction: column;
			// justify-content: flex-start;
			// align-items: center;
			// box-sizing: border-box;

			.btn-group-join {
				flex-direction: row;
				padding: 0px 10px 0px 10px;
			}

			.btn-group-join > .MuiButton-root {
				width: 200px;
				margin-right: 10px;
				height: 100%;
			}

			.btn-group-join > div:last-child {
				// margin-top: 0px;
				margin: 0px;
				height: 100%;
			}

			.btn-group-create > .option-group {
				padding: 0px;
			}
			// .btn-group-create > .option-group > .options:first-child {
			// 	margin-top: 0px;
			// }
		}
	}
}
